version: '3.0'

services:
    web:
        image: jonasfred/sb-web
        ports:
            - 8080:8080
        links:
            - elasticsearch
        depends_on:
            - elasticsearch
        environment:
            - ES-URL=http://elasticsearch:9200
        networks:
            - beer_releases

    indexer:
        image: jonasfred/sb-indexer
        links:
            - elasticsearch
        depends_on:
            - elasticsearch
        environment:
            - ES-URL=http://elasticsearch:9200
        networks:
            - beer_releases

    elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:5.6.0
        environment:
            - xpack.security.enabled=false
            - xpack.monitoring.enabled=false
            - transport.host=127.0.0.1
            - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
        expose:
            - 9200
        volumes:
            - search_index:/usr/share/elasticsearch/data
        networks:
            - beer_releases

networks:
    beer_releases:
        driver: bridge

volumes:
    search_index:
