version: '3.0'

services: 
    web:
        image: jonasfred/sb-web
        ports:
            - 8080:8080
        links: 
            - elasticsearch
        depends_on: 
            - elasticsearch
        environment:
            - ES-URL=http://elasticsearch:9200

    indexer:
        image: jonasfred/sb-indexer
        links: 
            - elasticsearch
        depends_on: 
            - elasticsearch
        environment:
            - ES-URL=http://elasticsearch:9200   

    elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:5.3.1
        environment:
            - xpack.security.enabled=false
            - xpack.monitoring.enabled=false
            - transport.host=127.0.0.1
        expose:
            - 9200

    kibana:
        image: docker.elastic.co/kibana/kibana:5.3.1
        environment:
            - xpack.security.enabled=false
            - xpack.monitoring.enabled=false
        links: 
            - elasticsearch
        depends_on: 
            - elasticsearch
        ports:
            - 5601:5601